My First Email Ai Agent.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "34136fcd-fecc-4bb9-97a7-bc7524c713fc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "D6FjNcBH1BLzyhi3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "order",
              "description": "when any email come with the text inside include new order it will separate."
            },
            {
              "category": "inquiry",
              "description": "=If any email include words enquiry or customer is asking any typeof question need to separate it. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "013cbe4f-429d-42b2-b81a-620255fa84c8",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        208
      ],
      "id": "60b6e2b1-ce7c-43dc-ae5a-7e9f3b4b1cdf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FcBfQa5G7Jvm8LUe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-31b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-4-31b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=You act as a copywriter and my personal gmail assistant. Please write a professional and polite reply to the following email. \n\n {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        576,
        96
      ],
      "id": "f917cf1d-e385-478f-8b30-9a2a7ff39cfc",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "vp2RoRE6eExjBT8X",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "57f08308-6549-427a-b117-5e53deaa41a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ce168118c3494af486ee8ccab4290b379cc9733656d47afb0709783c549d4fe"
  },
  "nodeGroups": [],
  "id": "W1VwenZ6N4rVuD4M",
  "tags": []
}